<!DOCTYPE html>
{% load static %}
<html>
    .custom-shape-divider-top-1645417834 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1645417834 svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 86px;
    }
    
    .custom-shape-divider-top-1645417834 .shape-fill {
        fill: #FFFFFF;
    }

    <div class="custom-shape-divider-top-1645417738">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</html>