{% extends 'index.html' %}

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image upscaling through SISR</title>
    <meta name="viewport" content="width=device-width, initial-scale1">
  
    <!-- Custom styles for download -->
    <link href="{% static 'styles/download.css' %}" rel="stylesheet">

    <!-- Styles for slider -->
    <link href="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.css" rel="stylesheet">
</head>
     

<body class="d-flex h-100 text-center text-white">
     
    <!-- Title  -->
    <div class="container d-flex justify-content-center align-content-center">
        <div class="row pt-5 justify-content-center align-content-center">
            <div class="h1">Uploaded images have been upscaled</div>
        </div>
    </div>

    <div class="col-sm-10">
        <div class="btn-group btn-group-toggle justify-content-center mx-auto" data-toggle="buttons">
            {% if original %}
            <div class="h5 p-1">Select After Image: </div>
            {% endif %}

            {% if original %}
            <label class="btn btn-sm btn-primary btn-simple active">
                <input type="radio" class="d-none d-sm-none" name="options" id="sisr_btn" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">SISR</span>
            </label>
            {% endif %}

            {% if bc %}
            <label class="btn btn-sm btn-primary btn-simple">
                <input type="radio" class="d-none d-sm-none" name="options" id="bicubic_btn">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bi-Cubic</span>
            </label>
            {% endif %}

            {% if bl %}
            <label class="btn btn-sm btn-primary btn-simple">
                <input type="radio" class="d-none" name="options" id="bilinear_btn">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bi-linear</span>
            </label>
            {% endif %}

            {% if nn %}
            <label class="btn btn-sm btn-primary btn-simple">
                <input type="radio" class="d-none" name="options" id="nn_btn">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Nearest Neighour</span>
            </label>
            {% endif %}
        </div>
      </div>

    <div class="container d-flex justify-content-center">

        <!-- Image comparison slider -->

        <!-- SISR -->
        {% if original %}
        <div id="sisr" class="row mx-auto">
            <div class="column">
                <div id="image-compare">
                    <img src="{{original}}">
                    <img src="{{upscaled}}">
                </div>
            </div>
        </div>
        {% else %}
            <h3>Image comparison only available for a single image</h3>
        {% endif %}
        

        {% if bc %}
        <!-- BI-Cubic -->
        <div id="bicubic" class="row mx-auto" style="display: none;">
            <div class="column">
                <div id="image-compare">
                    <img src="{{original}}">
                    <img src="{{bc}}">
                </div>
            </div>
        </div>
        {% endif %}

        {% if bl %}
        <!-- BI-linear -->
        <div id="bilinear" class="row mx-auto" style="display: none;">
            <div class="column">
                <div id="image-compare">
                    <img src="{{original}}">
                    <img src="{{bl}}">
                </div>
            </div>
        </div>
        {% endif %}

        {% if nn %}
        <!-- NN -->
        <div id="nn" class="row mx-auto" style="display: none;">
            <div class="column">
                <div id="image-compare">
                    <img src="{{original}}">
                    <img src="{{nn}}">
                </div>
            </div>
        </div>
        {% endif %}
        


    <!-- Buttons -->
        <div class="row">
            <div class="column justify-content-center">
            <a href="{% url 'sendBackZip' %}" class="btn btn-lg btn-primary">Download</a>
            <a href="{% url 'backhome' %}" class="btn btn-lg btn-primary">Main Page</a>
            </div>
            <div class="column justify-content-center py-5">
                <table class="table table-hover table-dark">
                    {% if results %}
                        <tr>
                            <th></th>
                            <th>NearNeighour</th>
                            <th>Bi-Linear</th>
                            <th>Bi-Cubic</th>
                            <th>Reconstruct</th>
                            <th>Difference</th>
                        </tr>
                        
                        {% for line in results %}
                            <tr>
                            {% for metricVal in line %}
                                <td>{{ metricVal }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr></tr>
                    {% endif %}
                </table>
            </div>
        </div>

    </div>
        

    <script type="text/javascript" src="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.js"></script>
    <script type="text/javascript">

        const options = {
            controlColor: "#73c781",
            controlShadow: false,
            addCircle: true,
            addCircleBlur: true, // default

            // Labels
            showLabels: true,
            labelOptions: {
                before: 'Before',
                after: 'After',
                onHover: true
            },

            smoothing: false,
            fluidMode: true
        };

        // Set the viewers
        let viewers = document.querySelectorAll("#image-compare");
        viewers.forEach((element) => {
            let view = new ImageCompare(element, options).mount();
        });

        const sisr = document.getElementById("sisr");
        const bicubic = document.getElementById("bicubic");
        const bilinear = document.getElementById("bilinear");
        const nn = document.getElementById("nn");

        document.getElementById("sisr_btn").onclick = function () { 
            sisr.style.display = "block";
            bicubic.style.display = "none";
            bilinear.style.display = "none";
            nn.style.display = "none";
        };

         document.getElementById("bicubic_btn").onclick = function () { 
            sisr.style.display = "none";
            bicubic.style.display = "block";
            bilinear.style.display = "none";
            nn.style.display = "none";
        };

        document.getElementById("bilinear_btn").onclick = function () { 
            sisr.style.display = "none";
            bicubic.style.display = "none";
            bilinear.style.display = "block";
            nn.style.display = "none";
        };


        document.getElementById("nn_btn").onclick = function () { 
            sisr.style.display = "none";
            bicubic.style.display = "none";
            bilinear.style.display = "none";
            nn.style.display = "block";
         };



    </script>


</body>
{% endblock %}