{% extends 'index.html' %}

{% block content %}  

<!-- <body class="body">
   <div class="container" align="left">
		<a href="/return-files/" target="blank"><button class='btn btn-default'>Download!</button></a>
   </div>
</body> -->

<html>
    <p><font size="18">Uploaded images have been upscaled.</font></p>
    <br>
    <!-- <p2><font size="12">Click link to download.</font></p2>
    <br> -->
    
    <br>
    <br>
    <a href="/sendBackZip">Download</a>
    <a href="/upload">Main Page</a>
</html>

{% endblock %}