{% extends 'index.html' %}

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image upscaling through SISR</title>
    <meta name="viewport" content="width=device-width, initial-scale1">
  
    <!-- Custom styles for download -->
    <link href="{% static 'styles/download.css' %}" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'styles/bootstrap-magnify.css' %}">
  
</head>
     

<body class="d-flex h-100 text-center text-white">
     
    <!-- Title  -->
    <div class="container justify-content-center align-content-center py-3">
        <div class="row pt-5 justify-content-center align-content-center">
            <div class="h1">Uploaded images have been upscaled</div>
        </div>
    </div>


    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap-magnify.js' %}"></script>

    <div class="container">
        <div class="row">
            <div class="col img-responsive">
                <p>Original</p>
                <div class="image-area mx-auto showcase-img"><img data-toggle="magnify" src="{% static 'images/000087.png' %}"></div>
            </div>
            <div class="col img-responsive">
                <p>Upscaled</p>
                <div class="image-area mx-auto showcase-img"><img data-toggle="magnify" src="{% static 'images/000087_x4_sisr.png' %}"></div>
            </div>
        </div>
    </div>






    <div class="container justify-content-center align-content-center">

        <div class="row justify-content-center align-content-center py-5">
            <a href="{% url 'sendBackZip' %}" class="btn btn-lg btn-primary">Download</a>
        </div>

        <div class="row justify-content-center align-content-center py-5">
            <a href="{% url 'upload' %}" class="btn btn-lg btn-primary">Main Page</a>
        </div>


    </div>

</body>
{% endblock %}