<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Image upscaling through SISR</title>
        <meta name="viewport" content="width=device-width, initial-scale1">
        <link rel="stylesheet" type="text/css" media='screen' href="{% static 'styles/main.css' %}">
    </head>

    <body>
        <div class="login_signup_bg">
            <div class="login_signup">
                {% block content %}
    

                {% endblock %}
            </div>

            <!-- <div class="info_bg">
                <p>orem Ipsum is simply dum</p>
            </div> -->
        </div>
    </body>
</html>