{% extends 'index.html' %}

{% block content %}  
   
<div class="container">

    <form method="POST" action="{% url 'info' %}">
        {%  csrf_token %}

        <!--Scale Selection Form-->
        <p>Select Scaling Factor:</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleAmount" id="double" value="2" checked="checked"> <!-- inlineRadioOptions -->
            <label class="form-check-label" for="double">x2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleAmount" id="quad" value="4"> <!-- inlineRadioOptions -->
            <label class="form-check-label" for="quad">x4</label>
        </div>

        <br>

        <p>Select Model:</p>
        <!-- <div class="form-row align-items-center"> -->
        <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="model">Model</label> <!-- inlineFormCustomSelect -->
            <select class="custom-select mr-sm-2" name="model" id="model"> <!-- inlineFormCustomSelect -->
            <option value="Model.h5" selected>Model.h5 (default)</option>
            <option value="Model_4_t1024.h5">Model_4_t1024.h5</option>
            <option value="Model_4_t1024_e1000.h5">Model_4_t1024_e1000.h5</option>
            <option value="Model_2_t1024.h5">Model_2_t1024.h5</option>
            </select>
        </div>

        <br>

        <p>Quality Measure Check:</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="quality" id="no" value="no" checked="checked"> <!-- inlineRadioOptions -->
            <label class="form-check-label" for="double">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="quality" id="yes" value="yes"> <!-- inlineRadioOptions -->
            <label class="form-check-label" for="quad">Yes</label>
        </div>

        <br>

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <!-- <form method="post">
      {% csrf_token %}
          <input type="radio" name="double" value="x2"> <!-- accept="image/*"
          <label for="double">x2</label><br>
          <input type="radio" name="quad" value="x4">
          <label for="quad">x4</label><br>
          <br>
          <button class="btn btn-dark my-4" type="submit">Submit</button>
    </form> -->


</div>
    

{% endblock %}