{% extends 'index.html' %}

{% block content %}

    
        <p>Welcome Back. Please login to your account</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <label>Username:</label>
            <input type="text" value="username" placeholder="Enter Username"/>
            <label>Email Address:</label>
            <input type="text" value="email" placeholder="Enter Email Address"/>
            <label>Password:</label>
            <input type="text" value="password" placeholder="Enter Password"/>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>

{% endblock %}
