{% extends 'index.html' %}
{% load static %}

{% block content %}  

<script>
    function generateModelOptions() {
        // Get the database information
        var models = '{{model_list_js|escapejs}}';

        // variable to hold all the different model options
        var modelOptions = ""; //<option value='0'>select</option>

        // Create a variable to read the database correctly
        var obj = JSON.parse(models);
        function getOptions(obj) {
            for(var k in obj) {
                if(obj[k] instanceof Object) {
                    getOptions(obj[k]);
                } else {
                    // Check to see if the we are looking at the database information that is the model Description
                    if (obj[k] === "home.modelinfo" || !isNaN(obj[k]) || (obj[k]).substr((obj[k]).length - 3) === ".h5"){
                        // not model description so do nothing and move on
                    }
                    else{ // This is the model description so add it as an option
                        modelOptions += "<option value='"+obj[k]+"'>"+obj[k]+"</option>";
                    }
                };
            }
        };
        getOptions(obj);

        // Place the Model options in the select form
        document.getElementById('model').innerHTML = modelOptions;
    }
    
    </script>

    <body onload="generateModelOptions()">
        <form>
            <div class="form-outline col-auto py-3">
                <p id="demo"></p>
                <b>Select Model:</b>

                <select class="custom-select mr-sm-2" name="model" id="model"></select>
            </div>
        </form>
    </body>


{% endblock %}

