.xzoom-gallery {
    margin-top: 10px
}

.xzoom {
    margin-top: 40px
}

body {
    background-color: #E0E0E0
}

.image_size {

    max-height: 100%;
    max-width: 100%;
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    /* position: relative; */
    height: 23rem;
    width: 23rem;
}

.image-area img {
    /* z-index: 2; */
    /* position: relative; */
    max-width: 100%;
    max-height: 100%;
}
